"logs/" 
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=helloworld/attempt=1.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=helloworld/attempt=2.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=helloworld/attempt=3.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=helloworld/attempt=4.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=helloworld/attempt=5.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=wordcount/attempt=1.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=wordcount/attempt=2.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=wordcount/attempt=3.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=wordcount/attempt=4.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=wordcount/attempt=5.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=wordcount/attempt=6.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=wordcount/attempt=7.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=helloworld/attempt=1.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=helloworld/attempt=2.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=helloworld/attempt=3.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=start/attempt=1.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=start/attempt=2.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=start/attempt=3.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount/attempt=1.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=start/attempt=1.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=start/attempt=2.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=start/attempt=3.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=start/attempt=4.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T113439.665216+0000/task_id=start/attempt=5.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount/attempt=2.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount/attempt=3.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount/attempt=4.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount/attempt=5.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount/attempt=6.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount/attempt=7.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount/attempt=8.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount/attempt=9.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount2/attempt=1.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount2/attempt=2.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount2/attempt=3.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount2/attempt=4.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount2/attempt=5.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount2/attempt=6.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount2/attempt=7.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount2/attempt=8.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T115604.790932+0000/task_id=wordcount2/attempt=9.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T132425.462244+0000/task_id=helloworld/attempt=1.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T132425.462244+0000/task_id=start/attempt=1.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T132425.462244+0000/task_id=wordcount/attempt=1.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T132425.462244+0000/task_id=wordcountbook/attempt=1.log
logs/dag_id=spark_airflow/run_id=manual__2024-06-04T132425.462244+0000/task_id=wordcountbook/attempt=2.log
logs/dag_id=spark_airflow/run_id=scheduled__2024-06-03T010000+0000/task_id=helloworld/attempt=1.log
logs/dag_id=spark_airflow/run_id=scheduled__2024-06-03T010000+0000/task_id=helloworld/attempt=2.log
logs/dag_id=spark_airflow/run_id=scheduled__2024-06-03T010000+0000/task_id=helloworld/attempt=3.log
logs/dag_id=spark_airflow/run_id=scheduled__2024-06-03T010000+0000/task_id=start/attempt=1.log
logs/dag_id=spark_airflow/run_id=scheduled__2024-06-03T010000+0000/task_id=start/attempt=2.log
logs/dag_id=spark_airflow/run_id=scheduled__2024-06-03T010000+0000/task_id=start/attempt=3.log
logs/dag_id=spark_airflow/run_id=scheduled__2024-06-03T010000+0000/task_id=wordcount/attempt=1.log
logs/dag_id=spark_airflow/run_id=scheduled__2024-06-03T010000+0000/task_id=wordcount/attempt=2.log
logs/dag_id=spark_airflow/run_id=scheduled__2024-06-03T010000+0000/task_id=wordcount/attempt=3.log
logs/dag_processor_manager/dag_processor_manager.log
logs/scheduler/latest
logs/scheduler/2024-06-04/spark_airflow.py.log
